<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Constituencies
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label>Chamber</ion-label>
    <ion-select [(ngModel)]="chamberType" [selectedText]="chamberType" deBounce=500 (ngModelChange)="getAllConstituencies()">
      <ion-select-option value="dail">Dail</ion-select-option>
      <ion-select-option value="seanad">Seanad</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
        <ion-label>House No</ion-label>
    <ion-range [(ngModel)]="houseNo" min="1" max="33" snaps=true ticks=true pin=true  deBounce=500 (ngModelChange)="getAllConstituencies()">
      <ion-label slot="start">1</ion-label>
      <ion-label slot="end">33</ion-label>
    </ion-range>
  </ion-item>

  <div *ngIf="results" >

    <ion-card>
      <ion-card-header>
        <div *ngIf="results.results">
          <ion-card-title [innerHTML]="results.results.house.house.showAs"></ion-card-title>
        </div>
      </ion-card-header>
      <ion-card-content>

        <div *ngIf="results.results">
          <div *ngIf="results.results.house.constituenciesOrPanels.length">
            <ion-item-divider><ion-label>Constituencies/Panels</ion-label></ion-item-divider>
            <ul *ngFor="let constituenciesOrPanel of results.results.house.constituenciesOrPanels;  let i = index">
              <li>{{constituenciesOrPanel.constituencyOrPanel.showAs}} &nbsp;(<i>{{constituenciesOrPanel.constituencyOrPanel.representType}}</i>)</li>
            </ul>
          </div>
        </div>

      </ion-card-content>
    </ion-card>
  </div>
  <ion-item>
    <ion-label>
      N.B.
    </ion-label>
    There have been 33 Dails and 25 Seanads.
  </ion-item>
</ion-content>
