<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-subtitle>Introduction</ion-card-subtitle>
        <ion-card-title>Welcome to faisneis.net</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>This is a website that provides you with information about what happens in the orieachtas. Click on any of the tabs on the left to find out more </p>
      </ion-card-content>
    </ion-card>

</ion-content>
